.project_content {
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  display: flex;
  background-color: green;
  grid-column: 8 / -1;
  position: relative;
  .project_description {
    // box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: var(--border-radius);
  }
}
.project_image {
  transition: var(--transition);
  grid-area: 1 / 6 / -1 / -1;
  position: relative;
  z-index: 1;
  grid-column: 1 / 8;
}
